body {
  background-color: $flexoki-bg;
  color: $flexoki-tx;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 1024px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: $flexoki-cy;
  text-decoration: none;
}
